<header class="header">
  <div class="div__left-icons">
    <div class="div__img-wrapper"><img src="assets/images/home.svg"></div>
    <div class="div__img-wrapper"><img src="assets/images/left-arrow.svg"></div>
    <div class="div__img-wrapper"><img src="assets/images/scenarios_btn.svg"></div>
    <div class="div__img-wrapper" (click)="downloadPdf()">
      <img src="assets/images/download.svg" style="margin-left: 3px">
      <span class="span__name">pdf</span>
    </div>
    <div class="div__img-wrapper"><img src="assets/images/dashboard_btn.svg"></div>
  </div>

  <div class="div__user-icon">
    <img src="assets/images/account.svg" class="img__user-icon">
    Иванов П.Е.
    <img src="assets/images/chevron-down.svg" class="img__user-icon">
  </div>

</header>

