<div class="div__mode-btn-wrapper">
  <div class="div__mode div__left-tab-chosen" style="border-left: none"><span>Страницы</span></div>
  <div class="div__mode"><span>Слои</span></div>
</div>
<div class="div__pages-container">
  <div>
    <img src="assets/images/chevron-right.svg">
    <span>Страница 1</span>
  </div>
  <div>
    <img src="assets/images/chevron-right.svg">
    <span>Страница 2</span>
  </div>
  <div>
    <img src="assets/images/chevron-right.svg">
    <span>Страница 3</span>
  </div>
</div>

