@import "../node_modules/bootstrap/scss/bootstrap.scss";

$dark_blue: #2563eb;
$button_blue: #2d6aba;
$button_hover_blue: cornflowerblue;
$light_gray: #e5e7eb;
$light_blue:#dbeafe;
$background:#ededee;
$incorrect_value_color: #f55858;

$border_grey: #D9D9D9;
$element_green: #448D83;

